{% extends 'base.html' %}
{% load static %}
{% block title %}App Oracle{% endblock title %}
{% block body %}
<section class="sobre">
    <div class="interface">
      <div class="flex">
        <div class="img-sobre">
          <img src="{% static 'assets/images/oracle.gif' %}" alt="tais" class="projeto"/>
        </div>
        <div class="txt-sobre">
            <h2>
              Projeto 5º Semestre - AppOracle
            </h2>
            <p>
                O objetivo do projeto se baseou no problema que começou devido a pandemia do novo Coronavirus. O volume de informações da parte administrativa trocadas com os alunos e professores através do e-mail vieram tendo um aumento significativo, fazendo com que muitas informações importantes passassem a ser lidas fora do seu tempo apropriado, ou seja, perda informações importantes. Para solucionar esse problema, decidimos criar uma aplicação web onde os docentes e discentes possam ver as informações de forma seletiva e controlada, sendo eles avisos gerais ou específicos dos cursos.
            </p>

            <p>Nesse projeto em especifico atuei como desevenvolvedora frontEnd e, utilizando HTML 5, CSS3, BootStrap e JavaScript, também como Scrum Master, já que em todos os projetos da FATEC são necessários a utilização da metodologia ágil SCRUM.</p>
            <div class="btn-social">
              <a href="https://github.com/TheAchieversDSM/API-2023.2-Mobile"><button><i class="bi bi-github"></i></button></a>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock body %}
