{% extends 'base.html' %}
{% load static %}
{% block title %}Contato{% endblock title %} 
{% block body %}
  <section class="contato">
    <div class="interface">
        <h2 class="titulo">ENTRE EM CONTATO :)</h2>
        <form action="" method="POST">
            {% csrf_token %}
            <input type:"text" name="nome" id="" placeholder="Seu nome:" required>
            <input type:"email" name="email" id="" placeholder="Seu e-mail:" required>
            <input type:"text" name="assunto" id="" placeholder="Assunto:">
            <textarea placeholder="Sua mensagem" name="mensagem"></textarea>
            <div class="btn-contato"><input type="submit" value="Enviar"></div>
        </form>
    </div>
  </section>
{% endblock body %}
