{% extends 'base.html' %}
{% load static %}
{% block title %}Contato{% endblock title %} 
{% block body %}
  <section class="contato">
    <div class="interface">
        <h2 class="titulo">ENTRE EM CONTATO :)</h2>
        <form action="">
            <input type:"text" name="" id="" placeholder="Seu nome:" required>
            <input type:"text" name="" id="" placeholder="Seu e-mail:" required>
            <input type:"text" name="" id="" placeholder="Seu telefone:">
            <textarea placeholder="Sua mensagem"></textarea>
            <div class="btn-contato"><input type="submit" value="Enviar"></div>
        </form>
    </div>
  </section>
{% endblock body %}
