{% extends 'base.html' %}
{%load static %} 
{% block title %}Habilidades{% endblock title %} 
{% block body %}

  <section class="habilidades">
    <div class="interface">
      <h2 class="titulo">HABILIDADES</h2>
      <div class="flex">
        <div class="habilidades-box">
          <i class="bi bi-code-slash"></i>
          <h3>WebApp</h3>
          <p>
            JavaScript, HTML, CSS, Python, 
            Typescript
          </p>
          <p>Django, Flask, Java, React,</p>
        </div>

        <div class="habilidades-box">
          <i class="bi bi-phone"></i>
          <h3>Mobile</h3>
          <p>React Native, Expo</p>
        </div>

        <div class="habilidades-box">
          <i class="bi bi-database"></i>
          <h3>Banco de Dados</h3>
          <p>MySQL, MongoDB, Firebase, Cassandra</p>
        </div>
      </div>
    </div>
  </section>

{% endblock body %}
