{% extends 'base.html' %} 
{% load static %} 
{% block title %}Projetos{% endblock title %} 
{% block body %}
<section class="projetos">
    <div class="interface">
      <h2 class="titulo">MEUS PROJETOS</h2>
      <div class="flex">
        <a href="{% url 'infatec' %}">
          <div class="img-projetos"
            style="background-image: url('{% static 'assets/images/infatec.png' %}');
            ">
            <div class="overlay">Saiba Mais</div>
          </div>
        </a>
        
        <a href="{% url 'ionic' %}">
          <div class="img-projetos"
            style="background-image: url('{% static 'assets/images/ionic.png' %}');
            ">
            <div class="overlay">Saiba Mais</div>
          </div>
        </a>
        
        <a href="{% url 'uol' %}">
          <div class="img-projetos"
            style="background-image: url('{% static 'assets/images/uol.png' %}');
            ">
            <div class="overlay">Saiba Mais</div>
          </div>
        </a>
      </div>
      <div class="flex">
        <a href="{% url 'tecsus' %}">
          <div class="img-projetos"
            style="background-image: url('{% static 'assets/images/tecsus.png' %}');
            ">
            <div class="overlay">Saiba Mais</div>
          </div>
        </a>
        
        <a href="{% url 'appOracle' %}">
          <div class="img-projetos"
            style="background-image: url('{% static 'assets/images/oracle.png' %}');
            ">
            <div class="overlay">Saiba Mais</div>
          </div>
        </a>

        <a href="{% url 'kitsune' %}">
          <div class="img-projetos"
            style="background-image: url('{% static 'assets/images/kitsune.png' %}');
            ">
            <div class="overlay">Saiba Mais</div>
          </div>
        </a>
      </div>
    </div>
</section>
{% endblock body %}