{% extends 'base.html' %}
{% load static %}
{% block title %}Sobre{% endblock title %}
{% block body %}
<section class="sobre">
    <div class="interface">
      <div class="flex">
        <div class="img-sobre">
          <img src="{% static 'assets/images/fundo.png' %}" alt="tais" class="perfil"/>
        </div>
        <div class="txt-sobre">
            <h2>
              Olá, eu sou a Taís Salomão! 😊
            </h2>
            <p>
                Com 29 anos de idade, estou atualmente imersa no mundo do Desenvolvimento de Software Multiplataforma na FATEC SJCampos/SP, prestes a concluir o sexto semestre neste ano.
            </p>

            <p>Meu estágio na Prefeitura Municipal de SJCampos/SP tem sido uma jornada incrível, proporcionando não apenas o aprimoramento de minhas habilidades técnicas, mas também o desenvolvimento de habilidades interpessoais, como trabalho em equipe e comunicação eficaz.</p>
            <div class="btn-social">
              <a href="https://github.com/taissalomao"><button><i class="bi bi-github"></i></button></a>
              <a href="https://www.linkedin.com/in/tais-salomao/"><button><i class="bi bi-linkedin"></i></button></a>
              <a href="{% url 'contato' %}"><button><i class="bi bi-envelope-at-fill"></i></button></a>
            </div>
          </div>
      </div>
    </div>
  </section>
{% endblock body %}
